@charset "UTF-8";

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  overflow: hidden;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 300px;
  border-radius: 20px ;
}

.id_check{
  border-radius: 20px;
  border: 1px solid #00AAFF;
  background-color: #00AAFF;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin:10px;
  position: relative;
  width: 80px;
  cursor: pointer;
}

#checkIdResult{
	margin-bottom: 15px;
	margin-top: 15px;
}