@charset "EUC-KR";

/* 타이틀 */

.faq_title {
	text-align : center;
	margin : 100px;
}

.faq_title_1 {
	font-weight : bold;
	font-size : 40px;
	margin-left: -20px;
}

.faq_sub_title {
	margin-left: -20px;
	color : #00AAFF;
}

/* 카테고리 */
.white {
        --background: #fff;
        --text: #275efe;
        --shadow: 0 2px 8px -1px #{rgba(#121621, .04)};
        --shadow-hover: 0 4px 20px -2px #{rgba(#121621, .12)};
}

.white_btn {
    --background: #275efe;
    --text: #fff;
    --font-size: 16px;
    --duration: .44s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
    --font-shadow: var(--font-size);
    padding: 16px 32px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: var(--font-size);
    border-radius: 24px;
    display: block;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: .5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    div {
        display: flex;
        overflow: hidden;
        text-shadow: 0 var(--font-shadow) 0 var(--text);
        span {
            display: block;
            backface-visibility: hidden;
            font-style: normal;
            transition: transform var(--duration) ease;
            transform: translateY(var(--m)) translateZ(0);
            @while $i < 12 {
                &:nth-child(#{$i}) {
                    transition-delay: $i / 20 + s;
                }
                $i: $i + 1;
            }
        }
    }
    &:hover {
        --y: var(--move-hover);
        --shadow: var(--shadow-hover);
        span {
            --m: calc(var(--font-size) * -1);
        }
    }
}    
  
.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    img {
        display: block;
        height: 28px;
    }
}

#btn_tag {
	margin-left : 200px;
	margin-top : -50px;
}

.white_btn {
	display : inline-block;
}

#tag1 #tag2 #tag3 #tag4 #tag5 {
	margin : 50px;
	padding : 50px;
}

/* 검색창 */
.faq_se {
	margin-top : 30px;
	margin-left : 250px;
	margin-bottom : -50px;
}

.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 max-width: 600px;
}

.input {
 width: 600px;
 height: 40px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: #00AAFF;
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}

/*자주 묻는 질문 */
.container-fluid .panel-group {
	margin-top : 70px !important;
}

/* 페이징 */
.paging{
	margin-left: 470px;
}

/* 상담원 문의 */
.faq_cs {
	margin : 0 auto; 
	font-size : 19px;
}

.faq_cs > em {
	margin-left : 20px;
	font-weight : bold;
}

.faq_cs_account {
	margin-top : 10px;
	background-color : #EAEAEA;
	padding : 20px;
}

.faq_cs_account1 {
	color :#00AAFF;
	margin-left : 50px;
	margin-right : 50px;
}

.faq_cs_account2 {
	margin-left : 50px;
}

hr.hr-2 {
  border: 0;
  border-bottom: 2px dashed #eee;
  background: #999;
}

.faq_tell {
	margin-left : 50px;
}

/*상담원 문의 - 버튼*/
/* 인라인 */
.faq_cs_1 {
	width : 400px;
}

.faq_cs_account .faq_cs1_1 {
	display : inline-block;
}

.faq_cs1_1 {
	margin-top : -70px;
	margin-right: 100px;
	float : right;
}

.cs_btn {
 align-items: center;
 background-color: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: .25rem;
 box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.85);
 cursor: pointer;
 display: inline-flex;
 font-size: 18px;
 font-weight: 600;
 justify-content: center;
 line-height: 1.25;
 min-height: 3rem;
 padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 text-decoration: none;
 transition: all 250ms;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: baseline;
 width: auto;
}

.cs_btn:hover,
.cs_btn:focus {
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
 color: rgba(0, 0, 0, 0.65);
}

.cs_btn:hover {
 transform: translateY(-1px);
}

.cs_btn:active {
 background-color: #F0F0F1;
 border-color: rgba(0, 0, 0, 0.15);
 box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
 color: rgba(0, 0, 0, 0.65);
 transform: translateY(0);
}