body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
   }
     
input {
	font-size: 15px;
}

.forgot_id {
	display : inline-block;
	text-decoration: none;
	background-color: #00AAFF;
	width : 100px;
	height : 30px;	
	color: white;
	font-weight: bold;
    margin-right: 10px;
    text-align: center;
    padding-top : 5px;
	
}

.forgot_pw{
    text-decoration: none;
    color: #00AAFF;
    font-weight: bold;
    margin-right: 10px;
}


.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
    margin: 50px auto;
}


hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

label {
	font-size: 16px;
}

/*  .telephone_num { */
/* 	width: 200px; */
/* 	height:40px; */
/* 	border-radius: 20px; */
/* 	padding: 10px; */
/* 	margin: 8px 0; */
/* 	box-sizing: border-box; */
/* 	border: 1px solid #ccc; */
/* } */
     
.telecom {
	width: 90px;
	padding: 10px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	height: 40px;
	font-size: 15px;
     }

.name, .email_ad,.cernum, .telephone_num , .phone_member_name{
	width:300px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

input[type="button"], input[type="submit"] {
    background-color: #00AAFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width:80px;
    height:33px;
    text-align: center;
    margin: 20px auto;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

.next {
    margin-top: 20px;
    text-align: center; /* 버튼을 가운데 정렬 */
}

#next{
    background-color: #00AAFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100px; /* 버튼의 너비를 조절 */
    height: 35px;
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
    display: block; /* 버튼을 블록 요소로 설정하여 줄 바꿈을 추가 */
}
