@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* 제목 부분 */

#tapTitle {
	margin : 50px;
}

/* 공통 사항 */


ul {
	list-style : none;
}

li a {
	display : block;
	text-decoration : none;
}

/* 검색 옵션 선택*/



.option_title {
	position : absolute;
	left : 50px;
}
.carTypeList {
	display : block;
}

h3 { 	
	text-align : left;
	display : block;
}

#searchForm {
	border : 1px solid lightgray;
	border-radius : 10px;
}

input[name="reserveWhere"] {
	width : 40%;
	height: 50px;
	margin-bottom: 10px;
	background-color : #00AAFF;
	border : 0px;
	border-radius : 10px;
	color : white;
	font-size : 15px;
	font-weight: bold;
}

.car_option_sel {
	width : 80%;
	position : relative;
	margin : 10px auto;
}

.selectArea {
	border : 1px solid gray;
	text-align : center;
	width : 80%;	
	border-radius : 10px;
	margin-bottom : 5px;
}

.carList1, .carList2, .fuelList1, .fuelList2 {
	display : inline-block;
	position : relative;
	width : 45%;
}

label {
	position : relative;
	float : left;
}

#searchCar {
	width : 100%;
	border : 0px;
	border-radius : 0 0 10px 10px;
	font-size : 20px;
	margin : 0px;
	background-color : #00AAFF;
	color : #fff;
	font-size : 30px;
	font-weight: bold;
}	

/* 검색 결과 */

.fadeIn {
	animation: fadein 2s;
	border-radius : 10px;
	display : block;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.carList {
	border : 1px solid lightgray;
	border-radius : 10px;
	box-sizing: border-box;
	margin-bottom : 20px;
}

.carImg {
	display : block;
	position : relative;
	width : 40%;
	height: 250px;
	left : 30px;
}
.carInfo {
	display : block;
	position : relative;
	width : 60%;
	height: 200px;
}
	
.carImg img {
	display : inline-block;
	position : relative;
	width : 100%;
	height: 100%;
}
.carInfo span {
	display : block;
}
.carInfo span:nth-child(1) {
	height: 50%;
	text-align : left;
	font-size : 1.35em;
	padding: 50px 0px 0px 30px;
	color : black;
}

.carInfo span:nth-child(2) {
	height: 25%;
	text-align : left;
	font-size : 1.35em;
	padding-left : 30px;
	color : black;
}
.carInfo span:nth-child(3) {
	height: 25%;
	text-align : left;
	font-size : 1.35em;
	padding-left : 30px;
	color : black;
}

#date {
	width : 100% !important;
	padding : 20px !important;
	font-size : 20px;
}

<!-- 데이트피커 -->

<!-- 날자 텍스트 박스 -->

.datetext {
    padding: 10px 0px !important;
    border: 1px solid lightgrey !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #00AAFF !important;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}

.datetext:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0;
}

.datepicker {
  background-color: #fff;
  border: none;
  border-radius: 0 !important;
}

.datepicker-dropdown {
  top: -50;
  left: 0;
}

<!-- 오늘일짜 표시 -->

.datepicker table tr td.today, span.focused {
  border-radius: 50% !important;
  background-image: linear-gradient(#FFF3E0, #FFE0B2);
}

.datepicker table tr td.today.range {
  background-image: linear-gradient(#eeeeee, #eeeeee) !important;
  border-radius: 0 !important;
}

.datepicker-days{
	text-align : center !important;
}

.datepicker-days .new, .datepicker-days .old , .datepicker-days .disabled {
	color : gray;
}


/*Weekday title*/
thead tr:nth-child(3) th {
  font-weight: bold !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dow, .old-day, .day, .new-day {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
  border-radius: 50% !important;
  background-color: #ffa726;
}

.active {
  border-radius: 50% !important;
  background-image: linear-gradient(#90CAF9, #64B5F6) !important;
  color: #fff !important;
}

.range-start, .range-end {
  background-image: linear-gradient(#FFA726, #FFA726) !important;
}

.prev, .next, .datepicker-switch {
  border-radius: 0 !important;
  padding: 10px 10px 10px 10px !important;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}

.prev:hover, .next:hover, .datepicker-switch:hover {
  background-color: inherit !important;
  opacity: 1;
}

.datepicker table tr td.range, .datepicker table tr td.range:hover {
	background-color : #eee !important;
	border-radius: 0 !important;
}


.day:active {
	.datepicker
}