@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* 제목 부분 */

#tapTitle {
	margin : 50px;
}

/* 공통 사항 */


ul {
	list-style : none;
}

li a {
	display : block;
	text-decoration : none;
}
/* 검색 옵션 선택*/



.option_title {
	position : absolute;
	left : 50px;
}
.carTypeList {
	display : block;
}

h3 { 	
	text-align : left;
	display : block;
}

#searchForm {
	border : 1px solid lightgray;
	border-radius : 10px;
}

input[name="reserveWhere"] {
	width : 40%;
	height: 50px;
	margin-bottom: 10px;
	background-color : #00AAFF;
	border : 0px;
	border-radius : 10px;
	color : white;
	font-size : 15px;
	font-weight: bold;
}

.car_option_sel {
	width : 80%;
	position : relative;
	margin : 10px auto;
}
#selectArea {
	text-align : center;
	width : 81%;	
	border-radius : 10px;
	margin-bottom : 5px;	
}

.carList1, .carList2, .fuelList1, .fuelList2 {
	display : inline-block;
	position : relative;
	width : 45%;
}

label {
	position : relative;
	float : left;
}

#searchCar {
	width : 100%;
	border : 0px;
	border-radius : 0 0 10px 10px;
	font-size : 20px;
	margin : 0px;
	background-color : #A6C5FF;
}	

/* 검색 결과 */

.fadeIn {
	animation: fadein 2s;
	border-radius : 10px;
	display : block;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.carList {
	border : 1px solid lightgray;
	border-radius : 10px;
	box-sizing: border-box;
	margin-bottom : 20px;
}

.carImg {
	display : block;
	position : relative;
	width : 40%;
	height: 250px;
	left : 30px;
}
.carInfo {
	display : block;
	position : relative;
	width : 60%;
	height: 200px;
}
	
.carImg img {
	display : inline-block;
	position : relative;
	width : 100%;
	height: 100%;
}
.carInfo span {
	display : block;
}
.carInfo span:nth-child(1) {
	height: 50%;
	text-align : left;
	font-size : 1.35em;
	padding: 50px 0px 0px 30px;
	color : black;
}
.carInfo span:nth-child(2) {
	height: 25%;
	text-align : left;
	font-size : 1.35em;
	padding-left : 30px;
	color : black;
}
.carInfo span:nth-child(3) {
	height: 25%;
	text-align : left;
	font-size : 1.35em;
	padding-left : 30px;
	color : black;
}

<!-- ddddddddddddd -->

.date-search {width:100%}
.date-search button {background-color: #0b81ff !important;border: none;display: inline-block;*display: inline;zoom: 1;box-sizing: border-box;border-radius: 0;text-align: center;word-break: break-all;cursor: pointer;vertical-align: middle;overflow: hidden;position: relative;width: 100%;text-align: left;outline-style: none;padding: 30px; color:#fff;border-top-left-radius: 5px; border-top-right-radius: 5px;}
.date-search button:before {content: '';background-repeat: no-repeat;background-image: url(/_core/_img/bg/btn_search_arrow.png);background-position: 0px 0px;background-size: contain;position: absolute;top: 50%;left: 50%;width: 20px;height: 20px;margin: -10px 0px 0px -4px;z-index: 10;}
.date-search button > dl {float: right;}
.date-search button > dl:first-child {float: left;}
.date-search button > dl dt {font-weight: 300;border: 1px solid #fff;text-align: center;border-radius: 20px;color: #fff;font-size: 12px;line-height: 25px;width: 65px;}
.date-search button > dl dd {margin-top: 5px;}
.date-search button:after {position: absolute;top: 50%;left: 50%;margin: -20px 0 0 -20px;content: '';display: block;width: 40px;height: 40px;border-radius: 50%;background-color: #fff;opacity: 0.3;}

.date-search button > dl dd .clickTimeDate {display:flex; justify-content:center; align-items:baseline;margin-top: 5px; margin-bottom: 5px;}
.date-search button > dl dd h3 {font-size: 24px;line-height: 1;color:#fff;}
.date-search button > dl dd span {margin-left: 5px;font-size: 14px;font-weight: 400;}
.date-search button > dl dd small {font-weight: 400;font-size: 12px;}
