<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.billycar.mapper.AdminCusMapper">
	<insert id="insertFaq">
		INSERT INTO faq(faq_category, faq_subject, faq_content, faq_writer)
		VALUES (
			#{faq_category},
			#{faq_subject},
			#{faq_content},
			#{faq_writer}
		)
	</insert>		
	
	<select id = "selectFaqList" resultType="com.itwill.billycar.vo.FaqVO">
		SELECT *
		FROM faq
		ORDER BY faq_idx DESC
		LIMIT  #{listLimit}, #{startRow}
	</select>
	
	<select id="selectFaqCount" resultType="int">
		SELECT COUNT(*)
		FROM faq
	</select>
	
	<select id="selectFaqDetail" resultType="com.itwill.billycar.vo.FaqVO">
		SELECT *
		FROM faq
		WHERE faq_idx = #{faq_idx}
	</select>
	
	<update id="updateFaq">
		UPDATE faq
		SET faq_subject=#{faq_subject}, faq_content=#{faq_content},	faq_category=#{faq_category}
		WHERE faq_idx=#{faq_idx}
	</update>
	
	<delete id="deleteFaq">
		DELETE FROM faq
		WHERE faq_idx=#{faq_idx}
	</delete>
	
	<!--  Qna  -->
	
	<select id="selectQnaListCount" resultType="int">
		SELECT COUNT(*)
		FROM qna
		<if test="answer_status!=2">
			WHERE qna_status = #{answer_status}
		</if>
	</select>
	
	<select id="selectQnaList" resultType="com.itwill.billycar.vo.QnaVO">
		SELECT *
		FROM qna
		<if test="answer_status != 2">
			WHERE qna_status = #{answer_status}
		</if>
		ORDER BY qna_status ASC, qna_idx <if test="answer_status != 0"> DESC </if>
		LIMIT #{startRow}, #{listLimit}
	</select>
	
	<select id="selectQna" resultType="com.itwill.billycar.vo.QnaVO">
		SELECT *
		FROM qna
		WHERE qna_idx = #{qna_idx}
	</select>
	
	<insert id="updateAnswer">
		UPDATE qna
		SET admin_content = #{admin_content}, qna_status = 1
		WHERE qna_idx = #{qna_idx}
	</insert>
	
	<!-- 쿠폰 -->
	<insert id="insertCoupon">
	-- AdminCusMapper insertCoupon
		<selectKey keyProperty="coupon_id" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(coupon_id), 0)
			FROM coupon
		</selectKey>
		INSERT INTO coupon
		VALUES (#{coupon_id} + 1
			 , #{coupon_code}
			 , #{coupon_name}
			 , #{coupon_discount_amount})
	</insert>
	
	<select id="selectCouponList" resultType="com.itwill.billycar.vo.CouponVO">
	-- AdminCusMapper selectCouponList
	
		SELECT *
		FROM coupon
	</select>
	
	<delete id="deleteCoupon">
		DELETE FROM coupon
		WHERE coupon_id = #{coupon_id}
	</delete>
	
	
	<!-- 면허 인증 회원  -->
	<select id="selectMemberCount" resultType="int">
		SELECT COUNT(member_id)
		FROM member
		<if test="license_auth != 0">
			WHERE member_license_checked = #{license_auth}
		</if>
	</select>
	
	<select id="selectLicense" resultType="HashMap">
		SELECT CONCAT(SUBSTR(member_id, 1, 4),"***") AS member_id, member_name, member_email, member_license_checked,
				CASE WHEN member_license_checked = 1 THEN '인증 완료'
			    	WHEN member_license_checked = 2 THEN '미인증'
					END license_checked, -- 인증 완료 여부
				CASE WHEN member_license_checked = 1 THEN 'black'
			   		 WHEN member_license_checked = 2 THEN 'red' 
			  		END color, -- 인증 완료 여부에 따른 색상
   				CASE WHEN TIMESTAMPDIFF(YEAR, STR_TO_DATE(member_birth, '%Y%m%d'), CURDATE()) IS NULL THEN '나이 인식 불가'
       				  WHEN TIMESTAMPDIFF(YEAR, STR_TO_DATE(member_birth, '%Y%m%d'), CURDATE()) >= 23 THEN '만 23세 이상'
        			  ELSE '만 23세 미만'
    				  END age_group -- 나이
		FROM  member
		<if test="license_auth != 0">
			WHERE member_license_checked = #{license_auth}
		</if>
		ORDER BY member_idx DESC
		LIMIT #{listLimit}, #{startRow}
	</select>
</mapper>