<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
마이바티스에서 실행할 SQL 구문을 갖는 xxxMapper.xml 파일 정의
=> 실행할 각 구문의 이름을 태그로 제공함(insert, update, delete, select 등)
   (내부적으로 PreparedStatement 객체를 통해 SQL 구문을 실행함)
=> 주의! mapper 태그 내의 namespace 속성에 현재 XML 파일과 연결될 자바 인터페이스를 명시해야한다!
   ex) <mapper namespace="패키지명.인터페이스명">
   (존재하지 않는 인터페이스(오타 등)라도 오류가 표시되지 않음)
=> 주의! 각 태그 내의 id 속성에 지정될 이름은 Mapper 인터페이스 내의 메서드명과 일치해야한다!
   (일치하는 id 없을 경우 BindingException 발생)
-->      
<mapper namespace="com.itwill.billycar.mapper.AdminMapper">
	<select id="selectMember" resultType="com.itwill.billycar.vo.AdminVO">
		select * from admin where admin_id = #{admin_id} AND admin_passwd = #{admin_passwd};
	</select>
	
	<select id="adminMemberList" resultType="com.itwill.billycar.vo.MemberVO">
		select * from member where 1=1
		
		<if test="searchType.equals('name')">
			AND member_name LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		
		<if test="searchType.equals('id')">
			AND member_id LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		
		<if test="searchType.equals('status')">
			AND member_status LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		
		LIMIT #{startRow},#{listLimit}
	</select>
	
	<select id="getMemberCount">
		select count(*) from member where 1=1
		
		<if test="searchType.equals('name')">
			AND member_name LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		
		<if test="searchType.equals('id')">
			AND member_id LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		
		<if test="searchType.equals('status')">
			AND member_status LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
	</select>
	
<!-- 	<select id="adminBlackList" resultType="com.itwill.billycar.vo.MemberVO"> -->
<!-- 		select * from member where member_status = 3; -->
<!-- 	</select> -->

	
	<!-- 자동차 등록 -->
	<insert id="insertCar">
		INSERT INTO car
		VALUES (
			null
			, #{car_number}
			, #{car_model}
			, #{car_brand}
			, #{car_fuel}
			, #{car_type}
			, #{gear_type}
			, #{car_capacity}
			, #{car_img}
			, #{car_year}
			, #{car_dayprice}
			, #{car_hourprice}
			, 0
			, 0
			, now()
		)
	</insert>
	
	<update id="updateMember" parameterType="int">
		UPDATE member SET member_id = #{member_id}
		
		<if test="member_status == 1">
			,member_status = 1
		</if>
		<if test="member_status == 2">
			,member_status = 2
		</if>
		<if test="member_status == 3">
			,member_status = 3
		</if>
		<if test="member_status == 4">
			,member_status = 4
		</if>
		where member_id = #{member_id}
	</update>
	
	
	<!-- 자동차 조회 -->
	<select id="selectCar" resultType="com.itwill.billycar.vo.CarVO">
		SELECT
		    c.car_idx,
		    c.car_number,
		    model.name AS car_model,  -- `Common` 테이블의 `name`을 `car_model`로 사용
		    brand.name AS car_brand,  -- `Common` 테이블의 `name`을 `car_brand`로 사용
		    fuel.name AS car_fuel,    -- `Common` 테이블의 `name`을 `car_fuel`로 사용
		    type.name AS car_type,    -- `Common` 테이블의 `name`을 `car_type`로 사용
		    CASE c.gear_type
	        WHEN 0 THEN '자동'
	        WHEN 1 THEN '수동'
	   		END AS gear_type, 
		    c.car_capacity,
		    c.car_img,
		    c.car_year,
		    c.car_dayprice,
		    c.car_hourprice,
		    c.car_status,
		    c.car_countReserve,
		    c.car_reg_date
		FROM
		    car c
		    LEFT JOIN Common model ON c.car_model = model.code  -- 모델 코드와 매칭
		    LEFT JOIN Common brand ON c.car_brand = brand.code  -- 브랜드 코드와 매칭
		    LEFT JOIN Common fuel ON c.car_fuel = fuel.code     -- 연료 코드와 매칭
		    LEFT JOIN Common type ON c.car_type = type.code    -- 차종 코드와 매칭


	</select>
	
	<!-- qnaList -->
	<select id="selectQnaList" resultType="com.itwill.billycar.vo.QnaVO">
		select * from qna
	</select>
	
	
	<!-- 공통 코드에서 제조사만 가져오기 -->
	<!-- B로 시작하는 컬럼에서 두글자까지만 제한되는 컬럼들을 가져오면 제조사이다. -->
	<select id="selectBrands" resultType="com.itwill.billycar.vo.CommonVO">
		SELECT code, name
		FROM Common
		WHERE code LIKE 'B%' AND LENGTH(code) = 2
		ORDER BY code;
	</select>
	
	<!-- 공통 코드에서 모델만 가져오기 -->
	<select id="selectModel" resultType="com.itwill.billycar.vo.CommonVO">
		SELECT code, name
		FROM Common
		WHERE code LIKE '%M%' -- 모델 코드에 'M'이 포함된 모든 데이터를 선택합니다.
		ORDER BY code;
	</select>
	
	<!-- 공통 코드에서 타입 가져오기 -->
	<select id="selectTypes" resultType="com.itwill.billycar.vo.CommonVO">
		SELECT code, name
		FROM Common
		WHERE code LIKE 'T%' 
		ORDER BY code;
	</select>
	
	<!-- 공통 코드에서 연료 가져오기 -->
	<select id="selectFuels" resultType="com.itwill.billycar.vo.CommonVO">
		SELECT code, name
		FROM Common
		WHERE code LIKE 'F%' 
		ORDER BY code;
	</select>
	
	<select id="selectBusinesshours" resultType="com.itwill.billycar.vo.CommonVO">
		SELECT code, name
		FROM Common
		WHERE code LIKE 'BH%' 
		ORDER BY code DESC;
	</select>
	
	<select id="selectCarId" resultType="com.itwill.billycar.vo.CarVO">
		SELECT
		    c.car_idx,
		    c.car_number,
		    model.name AS car_model,  -- `Common` 테이블의 `name`을 `car_model`로 사용
		    brand.name AS car_brand,  -- `Common` 테이블의 `name`을 `car_brand`로 사용
		    fuel.name AS car_fuel,    -- `Common` 테이블의 `name`을 `car_fuel`로 사용
		    type.name AS car_type,    -- `Common` 테이블의 `name`을 `car_type`로 사용
		    CASE c.gear_type
	        WHEN 0 THEN '자동'
	        WHEN 1 THEN '수동'
	   		END AS gear_type, 
		    c.car_capacity,
		    c.car_img,
		    c.car_year,
		    c.car_dayprice,
		    c.car_hourprice,
		    c.car_status,
		    c.car_countReserve,
		    c.car_reg_date
		FROM
		    car c
		    LEFT JOIN Common model ON c.car_model = model.code  -- 모델 코드와 매칭
		    LEFT JOIN Common brand ON c.car_brand = brand.code  -- 브랜드 코드와 매칭
		    LEFT JOIN Common fuel ON c.car_fuel = fuel.code     -- 연료 코드와 매칭
		    LEFT JOIN Common type ON c.car_type = type.code    -- 차종 코드와 매칭
		WHERE car_idx = #{carId}
	</select>
	
	<update id="updateCar" parameterType="com.itwill.billycar.vo.CarVO">
	    UPDATE car
	    SET car_dayprice = #{car_dayprice},
	        car_hourprice = #{car_hourprice},
	        car_status = #{car_status}
	    WHERE car_idx = #{car_idx}
	</update>
	
</mapper>















