<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 자동차 리스트 -->
<mapper namespace="com.itwill.billycar.mapper.ReservMapper">


	<select id="selectCarList" resultType="hashmap" parameterType="map">
	<![CDATA[
		SELECT MAX(model.name) AS car_model
		     , MAX(c.car_number) AS car_number
			 , MAX(brand.name) AS car_brand
			 , MAX(type.name) AS car_type
 			 , GROUP_CONCAT(DISTINCT fuel.name SEPARATOR ', ') AS car_fuel
			 , MAX(gear_type) AS gear_type
			 , MAX(car_capacity) AS car_capacity
			 , MAX(car_img) AS car_img
			 , MAX(car_year) AS car_year
			 , MAX(car_dayprice) AS car_dayprice
			 , MAX(car_hourprice) AS car_hourprice
			 , COUNT(*) AS canReserv
		  FROM car c
		  LEFT JOIN Common model ON c.car_model = model.code  
		  LEFT JOIN Common brand ON c.car_brand = brand.code  
		  LEFT JOIN Common fuel ON c.car_fuel = fuel.code     
		  LEFT JOIN Common type ON c.car_type = type.code   	
		 WHERE car_number NOT IN (SELECT car_number
									FROM Reservation
								   WHERE NOT (
								   		(#{reserv.reserv_pickupdate} >= reserv_returndate) OR
                						(#{reserv.reserv_returndate} <= reserv_pickupdate)
								   		) 
								   )	]]> 
		   AND car_status = 0
		 <if test="car.car_fuel != null"> 
		   AND fuel.name IN (${car.car_fuel})</if>
		 <if test="car.car_type != null"> 
		   AND type.name IN (${car.car_type})</if>
		 GROUP BY model.name
	     LIMIT #{startRow} , #{listLimit}
	</select>
	
	<select id="selectCar" resultType="hashmap" parameterType="map">
	<![CDATA[
		SELECT model.name AS car_model
		     , c.car_number AS car_number
			 , brand.name AS car_brand
			 , fuel.name AS car_fuel
			 , type.name AS car_type
			 , gear_type AS gear_type
			 , car_capacity AS car_capacity
			 , car_img AS car_img
			 , car_year AS car_year
			 , car_dayprice AS car_dayprice
			 , car_hourprice AS car_hourprice
		  FROM car c
		  LEFT JOIN Common model ON c.car_model = model.code  
		  LEFT JOIN Common brand ON c.car_brand = brand.code  
		  LEFT JOIN Common fuel ON c.car_fuel = fuel.code     
		  LEFT JOIN Common type ON c.car_type = type.code   	
		 WHERE car_number NOT IN (SELECT car_number
									FROM Reservation
								   WHERE NOT (
								   		(#{reserv.reserv_pickupdate} >= reserv_returndate) OR
                						(#{reserv.reserv_returndate} <= reserv_pickupdate)
								  		) 
								   )	]]> 
		   AND car_status = 0
		   AND model.name = #{car.car_model}
		 <if test="car.car_fuel != null"> 
		   AND fuel.name IN (${car.car_fuel})</if>
		 <if test="car.car_type != null"> 
		   AND type.name IN (${car.car_type})</if>
		 LIMIT 1
	</select>
	
	<!-- 예약 가능한 총 차량 -->
	<select id="selectCountCar">
		select count(*) from car
<!-- 		<if test="res"> -->
<!-- 		where reserv_status = 1; -->
<!-- 		</if> -->
	</select>
	
	
	<select id="selectCarDetailImg" resultType="map">
		SELECT 
			   car_images_1
			 , car_images_2
			 , car_images_3
			 , car_images_4
			 , car_images_5
  		  FROM car_images
         WHERE car_images_id = #{carNumber}
	</select>
</mapper>















