<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.billycar.mapper.ReservMapper">
	<select id="selectCarList" resultType="com.itwill.billycar.vo.CarVO" parameterType="map">
		SELECT car_idx
		     , car_number
		     , car_model
		     , car_brand
		     , car_fuel
		     , car_type
		     , gear_type
		     , car_capacity
		     , car_img
		     , car_year
		     , car_dayprice
		     , car_hourprice
		     , reserv_pickupdate
		     , reserv_returndate
		  FROM (
		    SELECT car_idx
			     , car_number
			     , car_model
			     , car_brand
			     , car_fuel
			     , car_type
			     , gear_type
			     , car_capacity
			     , car_img
			     , car_year
			     , car_dayprice
			     , car_hourprice
			     , reserv_pickupdate
			     , reserv_returndate
		           ROW_NUMBER() OVER (PARTITION BY c.car_number ORDER BY rs.reserv_pickupdate) AS rn
		      FROM car c
    		  LEFT JOIN Reservation rs ON c.car_number = rs.car_number
		     WHERE <![CDATA[(
		           rs.reserv_pickupdate IS NULL  -- 예약 정보가 없는 경우
		           OR (rs.reserv_returndate < #{reserv.reserv_returndate}) OR rs.reserv_pickupdate > #{reserv.reserv_pickupdate})
		           OR (rs.reserv_pickupdate >= #{reserv.reserv_pickupdate} AND rs.reserv_returndate <= #{reserv.reserv_returndate}))
		           OR (rs.reserv_returndate IS NULL AND rs.reserv_pickupdate IS NULL) -- 예약 정보가 모두 누락된 경우)
		         ) AS ranked ]]>
         <if test="car.car_type != null"> AND car_type IN (${car.car_type})</if>
		 <if test="car.car_fuel != null"> AND car_fuel IN (${car.car_fuel})</if>
		 WHERE rn = 1 
		 ORDER BY reserv_pickupdate;
	</select>
	
	
	<select id="selectCar" resultType="com.itwill.billycar.vo.CarVO">
		SELECT *
		  FROM car
		 WHERE car_idx = #{idx}
	</select>
	
	<!-- 예약 가능한 총 차량 -->
	<select id="selectCountCar">
		select count(*) from car
<!-- 		<if test="res"> -->
<!-- 		where reserv_status = 1; -->
<!-- 		</if> -->
	</select>
</mapper>















