<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.billycar.mapper.CsMapper">

	<insert id="insertNotice">
		<selectKey keyProperty="board_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(board_idx), 0)
			FROM notice
		</selectKey>
		INSERT
		INTO notice
		VALUES (
			#{board_idx} + 1
			, #{board_subject}
			, #{board_content}
			, #{board_writer}
			, now()
			, #{board_important}
		)
	</insert>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM notice
	</select>
	
	<select id="selectNoticeList" resultType="com.itwill.billycar.vo.NoticeVO">
		SELECT *
		FROM notice
		ORDER BY board_important DESC, board_idx DESC
		LIMIT #{startRow}, #{listLimit}
	</select>
	
	<select id="selectNoticeDetail" resultType="com.itwill.billycar.vo.NoticeVO">
		SELECT *
		FROM notice
		WHERE board_idx=#{notice_idx}
	</select>
	
	<select id="selectModifyInfo" resultType="com.itwill.billycar.vo.NoticeVO">
		SELECT *
		FROM notice
		WHERE board_idx = #{notice_idx}
	</select>
	
	<update id="updateNotice">
		UPDATE notice
		SET board_subject=#{board_subject}, board_content=#{board_content}, board_important=#{board_important} 
		WHERE board_idx=#{board_idx}
	</update>
	
	<select id="selectAdminPasswd" resultType="String">
		SELECT admin_passwd
		FROM admin
	</select>
	
	<delete id="deleteNotice">
		DELETE FROM notice 
		WHERE board_idx = #{notice_idx}
	</delete>
	
	<!-- ==================================================================  -->
	<!-- ** [자주묻는질문] ** -->
	<select id = "selectFaqList" resultType="com.itwill.billycar.vo.FaqVO">
		SELECT *
		FROM faq
		<if test="category != null">
			WHERE faq_category = #{category}
		</if>
		ORDER BY faq_idx DESC
		<if test="startRow != 0">
		LIMIT  #{listLimit}, #{startRow}
		</if>
	</select>
	
	<select id="selectFaqCount" resultType="int">
		SELECT COUNT(*)
		FROM faq
	</select>	
	
	<select id="selectFaqCategoryCount" resultType="int">
		SELECT COUNT(*)
		FROM faq
		WHERE faq_category = #{category}
	</select>
	
	<!-- ==================================================================  -->
	<!-- ** [큐엔에이] ** -->
	<select id="selectQnaList" resultType="com.itwill.billycar.vo.QnaVO">
		SELECT *
		FROM qna
		WHERE qna_writer = #{id}
		ORDER BY qna_idx DESC
		LIMIT #{startRow}, #{listLimit}
	</select>
	
	<select id="selectQnaListCount" resultType="int">
		SELECT COUNT(*)
		FROM qna
		WHERE qna_writer =#{writer}
	</select>
	
	<insert id="insertQna">
		<selectKey keyProperty="qna_idx" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(qna_idx), 0)  
			FROM qna
		</selectKey>
	
		INSERT INTO qna
		VALUES (
		   #{qna_idx} + 1
		  ,#{qna_writer}
		  ,#{qna_subject}
		  ,#{qna_content}
		  ,#{qna_file}
		  ,now()
		  ,'admin'
		  , null
		  , 0 -- 미답변
		  , #{qna_category}
		)
		
	</insert>
	
	<select id="selectQnaDetail" resultType="com.itwill.billycar.vo.QnaVO">
		SELECT *
		FROM qna
		WHERE qna_writer = #{qna_writer} AND qna_idx=#{qna_idx}
	</select>
	
</mapper>