<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwill.billycar.mapper.EventMapper">
	<insert id="insertEvent">
		INSERT INTO event
		VALUES (
			null
			, #{event_title}
			, #{event_content}
			, #{event_image}
		)
	</insert>
	
	<select id="selectEventList">
		SELECT *
		FROM event
		ORDER BY event_idx desc
		limit #{limit}
	</select>
	
	<select id="selectEventContent">
		SELECT *
		FROM event
		WHERE event_idx = #{event_idx}
	</select>
	

	<delete id="deleteEvent">
		DELETE
		FROM event
		WHERE event_idx = #{event_idx}
	</delete>
	
	<update id="updateEvent">
		UPDATE event
		SET 
			event_title = 	#{event_title}
		  , event_content = #{event_content}
		  , event_image =	#{event_image}
		WHERE
			event_idx = #{event_idx}
	</update>
	
	<select id="selectEventImage">
		SELECT event_image
		FROM event
		WHERE event_idx = #{event_idx}
	</select>
	
	<select id="selectCouponList" resultType="com.itwill.billycar.vo.CouponVO">
		SELECT *
		  FROM coupon c ;
	</select>
</mapper>