<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.billycar.mapper.GuideMapper">

	<select id="selectCarList" resultType="HashMap">
		SELECT DISTINCT model.name AS model
     		 , carType.name AS carType
     		 , GROUP_CONCAT(DISTINCT fuel.name SEPARATOR ', ') AS fuel
     		 , c.car_dayprice
     		 , c.car_hourprice
     		 , c.car_capacity 
  		  FROM car c 
  		  JOIN Common model ON model.code = c.car_model
  		  JOIN Common carType ON carType.code = c.car_type
  		  JOIN Common fuel ON fuel.code = c.car_fuel
 		 GROUP BY 
    		   model.name, carType.name, c.car_dayprice, c.car_hourprice, c.car_capacity 
 		 ORDER BY model.name
 		 LIMIT #{startRow} , #{listLimit}
	</select>
	
</mapper>	