<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.itwill.billycar.mapper.MypageMapper"> -->
<!-- 	<select id="selectMember" resultType="com.itwill.billycar.vo.MemberVO"> -->
<!-- 		Select *  -->
<!-- 		FROM member -->
<!-- 		WHERE member_idx = #{member_idx} -->
<!-- 	</select> -->
<!-- </mapper> -->

<mapper namespace="com.itwill.billycar.mapper.MypageMapper">
    
    
    <select id="selectMemberInfo" parameterType="String" resultType="com.itwill.billycar.vo.MemberVO">
        SELECT *
        FROM member
        WHERE member_id = #{memberId}
    </select>
    
    <select id="selectMemberPasswd" parameterType="String" resultType="com.itwill.billycar.vo.MemberVO">
        SELECT member_passwd
        FROM member
        WHERE member_id = #{memberId}
    </select>
    
</mapper>
