<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwill.billycar.mapper.PaymentMapper">
	<select id="salesMonthSelect" resultType="INTEGER">
		SELECT IFNULL(SUM(payment_result_amount), 0) AS payment_result_amount
		FROM (
		    SELECT 1 AS month
		    UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6
		    UNION SELECT 7 UNION SELECT 8 UNION SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12
		) AS months
		LEFT JOIN Payment ON MONTH(payment_date) = months.month
		GROUP BY months.month;
	</select>
	
	<select id="selectCarInfo" resultType="com.itwill.billycar.vo.CarVO">
		SELECT 
		      model.name as car_model
		    , type.name as car_type
		 	, fuel.name as car_fuel
		 	, c.car_img
		 	, c.car_capacity 
		 	, c.gear_type 
		 	, c.car_hourprice 
		 	, c.car_dayprice 
	     FROM car c
	     LEFT JOIN Common model ON c.car_model = model.code  
	     LEFT JOIN Common fuel ON c.car_fuel = fuel.code     
	     LEFT JOIN Common type ON c.car_type = type.code
	    WHERE c.car_number = #{car_number}
	</select>
	
	
	<select id="selectReservDetail" resultType="com.itwill.billycar.vo.ReservVO">
		SELECT * 
		FROM Reservation 
		WHERE reserv_idx = #{idx}
	</select>
	
	<select id="selectPaymentDetail" parameterType="int" resultType="map">
<!-- 	    SELECT r.*, c.*, p.* -->
	    FROM Reservation r
	    JOIN car c ON r.car_number = c.car_number
	    JOIN Payment p ON c.car_number = p.car_number
	    WHERE r.reserv_idx = #{idx}
	</select>
	
	<insert id="insertPayment">
		INSERT INTO Payment 
		VALUES (NULL
		     , 1 
		     , 1 
		     , now() 
		     , #{payment_result_amount}
		     , #{member_id}
		     , #{car_number})
	</insert>
	
	<insert id="insertRserv">
		INSERT INTO Reservation 
		VALUES (
			   NULL
			 , #{car_number}
			 , #{reserv_pickupdate}
			 , #{reserv_returndate}
			 , #{reserv_pickuplocation}
			 , #{reserv_returnlocation}
			 , 0    -- car_in
			 , 0    -- car_status
			 , 0    -- car_option
			 , now()  
			 , #{member_id}
			 , null);
	</insert>
</mapper>















