<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwill.billycar.mapper.ReservMapper">

	<select id="selectReservList" resultType="com.itwill.billycar.vo.ReservVO">
		select * 
		from Reservation 
		where member_id = #{memberId}
		ORDER BY reserv_idx DESC
		LIMIT #{startRow}, #{listLimit}
	</select>
	
	<update id="updateReviewStatus">
		update Reservation set reserv_review_status = 1 where reserv_idx = #{review_idx}
	</update>
	
	<select id="selecReservCount">
		select count(*) from Reservation
	</select>
	
	<select id="selectReviewCondition" resultType="com.itwill.billycar.vo.ReservVO">
		select *
		from Reservation
		where reserv_idx = #{reserv_idx} AND now() > reserv_returndate;
<!-- 		where reserv_idx = #{reserv_idx} AND reserv_status = 2; -->
	</select>
</mapper>















